<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="varaujo.com.br.p1_jogovelha" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".Principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Jogo" >
        </activity>
        <activity
            android:name=".Jogadores"
            android:label="@string/title_activity_jogadores" >
        </activity>
        <activity
            android:name=".Vencedores"
            android:label="@string/title_activity_vencedores" >
        </activity>
    </application>

</manifest>
